.about-section {
    background-color: white;
}

.about-image img{
    width: 180px;
    height: 259px;
    border-radius: 50%;
}

.about-grid{ 
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
}


